<%- include('../_layout/adminheader') %>

 <header id="main-header" class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Détails sur le cours</h1>
        </div>
      </div>
    </div>
  </header>


  <!-- POST EDIT -->
  <section id="edit-post" class="my-4">
    <div class="container pb-5 mb-3 " style="width: 65%;background-color: white">
      <div class="row">
        <div class="col-sm-12">
          <div class="">
            <div class="">
              <h4 class="my-4">Details du cours</h4>
            </div>
            <div class="">
              <table class="table table-striped">
                <thead class="thead-inverse">
                  <tr>
                    <th>Options</th>
                    <th>Valeur</th>
                  </tr>
                </thead>
                <tbody>  
                    <tr>
                      <td>Titre</td>
                      <td><%=course.title%></td>
                    </tr>
                    <tr>
                      <td>Durée</td>
                      <td><%=course.duration%></td>
                    </tr>
                    <tr>
                      <td>Catégorie</td>
                      <td><%=course.category%></td>
                    </tr>
                    <tr>
                      <td>Classe</td>
                      <td><%=course.session%></td>
                    </tr>
                    <tr>
                      <td>Débute le</td>
                      <td><%=course.startdate%></td>
                    </tr>
                    <tr>
                      <td>Se termine le</td>
                      <td><%=course.enddate%></td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td><%=course.description%></td>
                    </tr>
                    <tr>
                      <td>Posté le</td>
                      <td><%=course.dateposted%></td>
                    </tr>
                    <a href="/admin/courses/delete/<%=course._id%>" class="btn btn-danger mb-3">Supprimer le cours</a>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- List of students that enrhol this course -->
      <div class="row">
        <div class="col-sm-12">
          <h5 class="my-3">Liste des Participants</h5>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>A déja payé ?</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%students.forEach(function(student){%>
                <tr>
                  <td><%=student.firstname%> <%=student.lastname%></td>
                  <td><%=student.email%></td>
                  <td><%=student.tel%></td>
                  <td><b><%=student.ispaid%></b></td>
                  <td><a href="/admin/students/info/<%=student.id_user%>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
                </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <%- include('../_layout/adminfooter') %>