<%- include('../_layout/adminheader') %>

    <header id="main-header" class="py-2 bg-primary text-white mb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fa fa-gear"></i> Tableau de bord</h1>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <%- include('../_layout/admin_errors') %>
            <%- messages('messages', locals) %>
        </div>
      </div>
    </div>
  </section>


    <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4">
    <div class="container">
      <!--Stats-->
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="card text-center card-primary py-2 mb-3">
            <div class="card-block">
              <h3>Cours</h3>
              <h1 class="display-4"><i class="fa fa-pencil"></i> <%=N_COURS%></h1>
              <a href="/admin/courses" class="btn btn-sm btn-outline-secondary">Consulter</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">

          <div class="card text-center card-success py-2 mb-3">
            <div class="card-block">
              <h3>Enseignant</h3>
              <h1 class="display-4"><i class="fa fa-user"></i> <%=N_TEACH%></h1>
              <a href="/admin/teachers" class="btn btn-sm btn-outline-secondary ">Consulter</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class="card text-center card-warning py-2 mb-3">
            <div class="card-block">
              <h3>Etudiants</h3>
              <h1 class="display-4"><i class="fa fa-users"></i> <%=N_STUD%></h1>
              <a href="/admin/students" class="btn btn-sm btn-outline-secondary ">Consulter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-6 mb-2">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Cours</h5>
              <p class="card-text">Gérer les cours, ajouter un nouveau cours ici</p>
              <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Ajouter un cours</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 col-sm-6 mb-2">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Enseignants</h5>
              <p class="card-text">Gérer les enseignants. Ajouter des nouveaux enseignants ici.</p>
              <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addCategoryModal"><i class="fa fa-plus"></i> Ajouter un Enseignant</a>
            </div>
          </div>
          </div>

        <div class="col-md-6 col-lg-4 col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Assigner les cours</h5>
              <p class="card-text">Gérer les cours. Ajoutez des enseignants à un cours.</p>
              <a href="/admin/courses/assign-course" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Assigner une Classe</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-6 my-2">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Enregistrer un paiment</h5>
              <p class="card-text">Gerer les paiements effectués ici.</p>
              <a href="/admin/payment/register-payment" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Nouveau Paiement</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-6  col-lg-4 col-sm-6 my-2">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Course Access</h5>
              <p class="card-text">Manage Course Access, Block Students...</p>
              <a href="#" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Config course Access</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>


  <!-- TEACHERS DEMAND -->
  <section id="posts">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>DEMANDE DES ENSEIGNANTS POUR DISPENSER SUR RETYMEE</h5>
            </div>
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Tel</th>
                  <th>Adresse</th>
                  <th>Matière</th>
                  <th>Plus</th>
                </tr>
              </thead>
              <tbody>
                <%teachersDemand.forEach(function(teacher){%>
                  <tr>
                    <td><%=teacher.firstname%> <%=teacher.lastname%></td>
                    <td><%=teacher.email%></td>
                    <td><%=teacher.tel%></td>
                    <td><%=teacher.address%></td>
                    <td><%=teacher.matiere%></td>
                    <td><a href="/admin/teachers/demand/<%=teacher._id%>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
                  </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
    </div>
  </section>


  <!-- ADD COURSE MODAL -->
  <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="addPostModalLabel">Ajouter un cours</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/courses/add-course" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title" class="form-control-label">Type de cours</label>
              <select name="type" class="form-control">
                <option disabled>Sélection par défaut</option>
                <option value="Concours">Cours Magistral</option>
                <option value="Examen">TD</option>
                <option value="Examen">TP</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Titre du cours <span class="text-danger">(*)</span></label>
              <input type="text" name="title" value="<%=title%>" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Classe <span class="text-danger">(*)</span></label>
              <input type="text" name="session" value="<%=session%>" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Durée <span class="text-danger">(*)</span></label>
              <input type="text" name="duration" value="<%=duration%>" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Date de début <span class="text-danger">(*)</span></label>
              <input type="text" name="startdate" value="<%=startdate%>" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Date de fin <span class="text-danger">(*)</span></label>
              <input type="text" name="enddate" value="<%=enddate%>" class="form-control" placeholder="">
            </div>
            <!-- <div class="form-group">
              <label for="title" class="form-control-label">Cost (FCFA)</label>
              <input type="text" name="cost" value="<%=cost%>" class="form-control" placeholder="">
            </div> -->
            <!-- <div class="form-group">
              <label for="category" class="form-control-label">Category</label>
              <select name="category" value="<%=category%>" class="form-control">
                <option value="Ingénierie">Ingénierie</option>
                <option value="Enseignement">Enseignement</option>
                <option value="Médecine">Médecine</option>
                <option value="Droit & Finance">Droit & Finance</option>
              </select>
            </div> -->
            <div class="form-group bg-faded p-3">
              <label for="file">Choisir l'image descriptive du cours <span class="text-danger">(*)</span></label>
              <input type="file" name="image" class="form-control-file" id="file">
              <small id="fileHelp" class="form-text text-muted">
                Taille maximale de 3MB
              </small>
            </div>
            <div class="form-group bg-faded p-3">
              <label for="file">Charger l'emploi de temps du cours</label>
              <input type="file" name="timetable" class="form-control-file" id="file2">
              <small id="fileHelp" class="form-text text-muted">
                Taille maximale de 3MB
              </small>
            </div>
            <div class="form-group">
              <label for="editor">Programme du cours <span class="text-danger">(*)</span></label>
              <textarea class="form-control" name="content" id="editor" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="body">Description du cours <span class="text-danger">(*)</span></label>
              <textarea name="description" class="form-control"><%=description%></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-secondary float-right m-3" data-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-primary float-right m-3" value="Ajouter le cours">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD Teacher MODAL -->
  <div class="modal fade" id="addCategoryModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="addCategoryModalLabel">Ajouter un enseignant</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/teachers/add" method="post">
            <div class="form-group">
              <label for="title" class="form-control-label">Prénom <span class="text-danger">(*)</span></label>
              <input type="text" value="<%=firstname%>" name="firstname" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Nom <span class="text-danger">(*)</span></label>
              <input type="text" value="<%=lastname%>" name="lastname" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Nom d'utilisateur <span class="text-danger">(*)</span></label>
              <input type="text" value="<%=username%>" name="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Email <span class="text-danger">(*)</span></label>
              <input type="email" value="<%=email%>" name="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Mot de passe <span class="text-danger">(*)</span></label>
              <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Confirmation du mot de passe <span class="text-danger">(*)</span></label>
              <input type="password" name="password2" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Tel <span class="text-danger">(*)</span></label>
              <input type="text" value="<%=tel%>" name="tel" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Matière <span class="text-danger">(*)</span></label>
              <input type="text" value="<%=matiere%>" name="matiere" class="form-control">
            </div>
            <div class="form-group">
              <label for="title" class="form-control-label">Adresse</label>
              <input type="text" value="<%=address%>" name="address" class="form-control">
            </div>
            <div class="form-group">
                <label for="body">À propos de l'enseignant</label>
                <textarea name="desc" value="<%=description%>" class="form-control"></textarea>
            </div>
            <div class="">
              <button class="btn btn-secondary float-right m-3" data-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-success float-right m-3" value="Ajouter un Enseignant">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<script src="/js/functions.js"></script>
<%- include('../_layout/adminfooter')%>