 <%- include('../_layout/adminheader') %>

<header id="main-header" class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Student</h1>
        </div>
      </div>
    </div>
  </header>
 

 <!-- INFOS -->
  <section id="edit-post" class="my-4">
    <div class="container " style="width: 65%;background-color: white">
      <div class="row">
        <div class="col">
          <div class="">
            <div class="col">
              <h4 class="my-4">Student Informations</h4>
            </div>
            <div class="col">
                <table class="table table-striped">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Options</th>
                      <th>Values</th>
                    </tr>
                  </thead>
                  <tbody>  
                      <tr>
                        <td>First Name</td>
                        <td><%=student.firstname%></td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td><%=student.lastname%></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%=student.email%></td>
                      </tr>
                      <tr>
                        <td>Username</td>
                        <td><%=student.username%></td>
                      </tr>
                      <tr>
                        <td>Phone</td>
                        <td><%=student.tel%></td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td><%=student.address%></td>
                      </tr>
                      <tr>
                        <td>Matiere</td>
                        <td><%=student.matiere%></td>
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td><%=student.status%></td>
                      </tr>
                      <tr>
                        <td>About It</td>
                        <td><%=student.about%></td>
                      </tr>
                      <a href="/admin/stundents/delete/<%=student._id%>" class="btn btn-danger mb-3">Delete Student</a>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../_layout/adminfooter') %>