<%- include('../_layout/adminheader') %>

 <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fa fa-user"></i> Teachers</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search teachers...">
            <span class="input-group-btn">
              <button class="btn btn-success">Rechercher</button>
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <!-- POSTS -->
   <!-- POSTS -->
  <section id="users">
    <div class="container pb-5 mb-3">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Student List</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>More information</th>
                </tr>
              </thead>
              <tbody>  
                  <%teachers.forEach(function(teacher){%>
                  <tr>
                    <td><%=teacher.firstname%></td>
                    <td><%=teacher.lastname%></td>
                    <td><%=teacher.username%></td>
                    <td><%=teacher.email%></td>
                    <td><a class="btn btn-secondary" href="/admin/teachers/info/<%=teacher._id%>">View Details</a></td>
                  </tr>
                  <%})%>
              </tbody>
            </table>

            <nav class="ml-4">
              <ul class="pagination">
                <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include('../_layout/adminfooter') %>