<% include _layout/header %>

    <section id="banner">
        <div class="container">
            <div id="overlay">
                <div class="row" style="padding: 0;">
                    <div class="container" style="padding: 0;">
                        <div class="col1 col-md-10  col-lg-7 col1 col-sm-12">
                            <h1>Develop your skills</h1>
                            <h4 class="d-md-block d-lg-block d-xl-block">We offer pupils, students and professionals, assistance with online courses and training.</h4>
                                <%if(user){%>
                                    <a href="/prepa-courses" class="btn button-yellow my-2 btn-lg">Register for a course now</a>
                                <%}else{%>
                                    <a href="#" class="btn button-yellow btn-lg" data-toggle="modal" data-target="#signUp">Register now</a>
                                <%}%> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Section header-->
    <section id="header-bottom" class="py-4" >
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <div class="p-4">
                            <i class="fa fa-book fa-3x" aria-hidden="true" style="color: white"></i>
                        </div>
                        <div class="p-8">
                            <h4>Over 50 courses</h4>
                            <h6>Explore a variety of new and exciting topics</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <div class="p-4">
                                <i class="fa fa-check-circle fa-3x" style="color: white" aria-hidden="true"></i>
                        </div>
                        <div class="p-8">
                            <h4>Instruction from experts</h4>
                            <h6>Find the right instructor for you</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <div class="p-4">
                                <i class="fa fa-cogs fa-3x" style="color: white" aria-hidden="true"></i>
                        </div>
                        <div class="p-8">
                            <h4>Can be accessed at any time</h4>
                            <h6>Learn at your own pace</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Site description-->
    <section id="site-description">
        <div class="container pt-3 mb-5">
            <div class="row pt-5 align-items-center justify-content-center">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <h2 class="" style="font-weight: bold;color: #004368;font-size: 45px">What's Retymee?</h2>
                    <p class="text-justify mt-4" style="font-size: 20px;">
                        Retymee is an online interactive course solution for pupils, students and professionals.<br><br>
                        <button class="btn button-yellow video" data-toggle="modal" data-target="#see-demo" data-video="https://www.youtube.com/embed/9CqR3_MccOQ">How it works?</button>
                    </p>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 text-center my-2">
                    <img src="img/online-classes.jpg" class="img-fluid rounded-circle" width="400px" height="300px" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- Ongoing Prepa Courses Section -->
    <section id="ongoing-courses-concours" class="py-3" style="z-index: -1;">
        <div class="container">
                <h2 class="display-5  mb-5 mt-5"><strong>Top courses</strong></h2>
            <div class="row mb-4">
                <%courses.forEach(function(course){%>
                    <div class="col-md-6 col-lg-3 col-sm-10 my-2">
                        <div class="card">
                            <img class="card-img-top" src="/img/course_images/<%=course._id%>/<%=course.image%>" class="img-fluid" height="150" alt="Card image cap">
                            <center>
                                <div id="view-details" class="text-center">
                                    <a href="/course/<%=course._id%>" ><i class="fa fa-search"></i></a>
                                </div>
                            </center>
                            <div class="card-block pt-0">
                                <a href="/course/<%=course._id%>" class="text-dark"><h5 class="card-title"><%=course.title%></h5></a>
                                <!-- <p class="card-text"><%=course.description%></p> -->
                                <span class="text-muted">Classe: <%=course.session%></span><br>
                                <span class="text-muted">Durée: <%=course.duration%></span>
                                <p class="card-text mt-2">
                                    <small>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>&nbsp;
                                        (0 review)
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
            <center><a href="/prepa-courses" id="all-prepa-courses" class="btn btn-lg mt-3">Browse more courses</a></center>
        </div>
    </section>


    <!-- Ongoing Exams Courses Section -->
    <!-- <section id="ongoing-courses-exam" class="py-3" style="z-index: -1;">
        <div class="container">
            <h2 class="display-5  mb-5 mt-4"><strong>Préparation aux Examens à la Une</strong></h2>
            <div class="row mb-4 justify-content-center">
            </div>
            <center><a href="/exams-courses" id="all-exam-courses" class="btn btn-lg mt-3">Browse More Courses</a></center>
        </div>
    </section> -->

    <!-- Count Section -->
    <section id="count" class="py-2 my-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="flex-row d-flex justify-content-around align-items-center text-white">
                        <div class="p-4 text-center">
                            <i class="fa fa-users fa-3x" aria-hidden="true"></i><br>
                            <span class="counter display-4"><%=N_STUD%></span>
                            <h4>Students</h4>
                        </div>
                        <div class="p-4 text-center">
                            <i class="fa fa-certificate fa-3x" aria-hidden="true"></i><br>
                            <span class="counter display-4"><%=N_TEACH%></span>
                            <h4>Certified Teachers</h4>
                        </div>
                        <div class="p-4 text-center">
                            <i class="fa fa-book fa-3x" aria-hidden="true"></i><br>
                            <span class="counter display-4"><%=N_COURS%></span>
                            <h4>Current Courses</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Universities Section -->
    <section id="university" class="my-4">
        <div class="container text-center">
                <h2 class="display-5  mb-5 mt-5"><strong>OUR PARTNERS</strong></h2>
            <div class="row justify-content-center">
                <div class="col-sm-6 partenaires">
                    <div class="d-flex justify-content-center">
                        <div class="card card-inverse">
                            <a href="#"><img class="card-img" class="img-fluid w-80" src="img/logo/inchtechs_logo.png" alt="Inchtechs"></a>
                            <div class="card-img-overlay align-self-center">
                                <h4 class="card-title">Inchtech's</h4>
                            </div>
                        </div>
                        <div class="card card-inverse">
                            <a href="#"><img class="card-img" class="img-fluid w-80" src="img/logo/open_logo.svg" alt="Open Technology"></a>
                            <div class="card-img-overlay align-self-center">
                                <h4 class="card-title">Open Technology</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Subscribe section -->
    <div class="section my-5" id="subscribe-section">
        <div class="dark-overlay py-4">
            <div class="container">
                <div class="row py-4">
                    <div class="col text-center text-white">
                        <h2><strong>Do not miss anything online</strong></h2>
                        <h5>Benefit from our live courses and book your place</h5>
                        <a href="/prepa-courses" class="btn button-yellow">Register for a course now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Instructors section -->
    <section id="instructor" class="text-center py-4 pb-5">
        <div class="container">
            <h2 class="text-center pt-4 "><strong>A few trainers</strong></h2>
            <hr class="pb-4" style="color: gray">
            <div class="row justify-content-center">
                <div id="annim1" class="col-lg-3 col-md-6 col-sm-10 my-3">
                    <div class="card">
                        <div class="card-block" style="position: relative;top:-4em">
                            <img class="img-fluid rounded-circle w-50 mb-3" src="img/teachers/person1.jpg" alt="">
                            <h4>Ngaleu Kevin</h4>
                            <h6 class="text-muted">Maths teacher</h6>
                        </div>
                    </div>
                </div>
                <div id="annim2" class="col-lg-3 col-md-6 col-sm-10 my-3">
                    <div class="card">
                        <div class="card-block" style="position: relative;top:-4em">
                            <img class="img-fluid rounded-circle w-50 mb-3" src="img/teachers/person2.png" alt="">
                            <h4>Lissom Ori</h4>
                            <h6 class="text-muted">DB teacher</h6>
                        </div>
                    </div>
                </div>
                <div id="annim3" class="col-lg-3 col-md-6 col-sm-10 my-3">
                    <div class="card">
                        <div class="card-block" style="position: relative;top:-4em">
                            <img class="img-fluid rounded-circle w-50 mb-3" src="img/teachers/person3.jpg" alt="">
                            <h4>Tchagna Smith</h4>
                            <h6 class="text-muted">Physics teacher</h6>
                        </div>
                    </div>
                </div>
                <div id="annim4" class="col-lg-3 col-md-6 col-sm-10 my-3">
                    <div class="card">
                        <div class="card-block" style="position: relative;top:-4em">
                            <img class="img-fluid rounded-circle w-50 mb-3" src="img/teachers/person4.jpg"  alt="">
                            <h4>Joel Ndungla</h4>
                            <h6 class="text-muted">Science Teacher</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <center><a href="" class="btn btn-danger btn-lg mt-5">Browse More Teachers</a></center> -->
        </div>
    </section>

    <!-- Become and instructor-->
    <section id="be-instructor" class="py-3 mt-4">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 col-lg-6 col-sm-10 p-3">
                    <img src="img/instructor.jpg" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-10  text-center">
                    <h2 class="display-5 py-3"><strong>Become a Teacher</strong></h2>
                    <h5 class="pb-3">Teach in your field. Retymee gives you the tools to offer an online course. </h5>
                    <a href="/teacher/contact" id="start-teaching" class="btn button-yellow btn-lg">Commencez à Enseigner maintenant</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Avis des users - slider -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center py-5">
                        TESTIMONIES
                        <hr>
                    </h1>
                </div>
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <p class="description text-justify"><i class="fa fa-quote-left"></i> 
                                Ces cours sont de bonnes qualité. L'interaction avec les enseignants est une réalité. Le groupe de discussion donne la possibilité à nous les apprenants de s'entraider.
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="img/student1.jpg">
                                </div>
                                <h3 class="title">Constant</h3>
                            </div>
                        </div>
         
                        <div class="testimonial">
                            <p class="description text-justify"><i class="fa fa-quote-left"></i> 
                                These courses are of good quality. The interaction with teachers is a reality. The focus group gives us the opportunity for learners to help each other.
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="img/student2.jpg">
                                </div>
                                <h3 class="title">Yvonne</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


<% include _layout/footer %>