<%- include('../_layout/header') %>

   <section class="course-description">
            <div class="container">
                <div id="overlay">
                    <div class="row">
                        <div class="col1 col-md-10  col-lg-8 col1 col-sm-12">
                            <h1>Développez vos aptitudes</h1>
                            <h4 class="d-none d-md-block d-lg-block d-xl-block">Nous proposons aux étudiants, aux élèves et aux professionnels,
                                une aide aux cours et apprentissage en ligne.</h4>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="course-details">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-8 col-lg-8 col-sm-12">
                        <h1><%=course.title%></h1>
                        <h5 class="text-muted">Domaine : <span><%=course.category%></span></h5>
                        <hr style="background-color: #eeeeee">
                        <img src="/img/course_images/<%=course._id%>/<%=course.image%>">
                        <h4 class="pt-5">DESCRIPTION DE LA FORMATION</h4>
                        <hr >
                        <p class="mt-4 mb-5"><%=course.description%></p>
                        <h4>PROGRAMME DU COURS</h4>
                        <%if(course.content){%>
                            <div class="pt-4">
                                <%-course.content-%>
                            </div>
                        <%}%>
                        <hr>
                        <ul>
                            <!-- <li>Mathématiques</li>
                            <li>Physiques</li> -->
                        </ul>
                        <h4 class="pt-5">A PROPOS DES FORMATEURS</h4>
                        <hr >
                        <div class="pt-4">
                            <div class="row justify-content-between">
                                <%course.teachers.forEach(function(teacher){%>
                                    <div class="col-sm-12 col-md-6 ">
                                        <div class="card mt-2">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=teacher.firstname%> <%=teacher.lastname%></h5>
                                                <p class="card-text text-muted">(<%=teacher.email%>)</p>
                                                <p class="card-text text-muted">Tel: <%=teacher.tel%></p>
                                                <p class="card-text text-muted">Matière: <%=teacher.matiere%></p>
                                            </div>
                                        </div>
                                    </div>
                                <%})%>
                            </div>
                        </div>
                        <h4 class="pt-5">REVUES D'UTILISATEURS</h4>
                        <hr >
                        <div class="d-flex flex-row">
                            <div class="p-2"><span class="fa fa-star checked"></span></div>
                            <div class="p-2"><span class="fa fa-star checked"></span></div>
                            <div class="p-2"><span class="fa fa-star checked"></span></div>
                            <div class="p-2"><span class="fa fa-star checked"></span></div>
                            <div class="p-2"><span class="fa fa-star"></span></div>
                            <div class="p-2">(0 revue)</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 pr-5 pl-5 right-content">
                        <h5 class="pt-4"><b>Coût de la Formation</b><hr></h5>
                        <!-- <p class="text-muted">You can test this course for free during 2 days.</p>
                        <h5 class="py-1"><strong><%=course.cost%> FCFA</strong></h5> -->
                        <div class="alert alert-warning">
                            Cette formation est <b>GRATUITE</b>. Cependant, l'obtention de la certification à la fin est conditionnée par le paiement
                            d'une somme de <b>5000FCFA</b>.
                        </div>
                        <h5 class="pt-3"><b>Durée de la Formation</b><hr></h5>
                        <p class="py-1"><i class="fa fa-tachometer"></i> <%=course.duration%> (<%=course.startdate%> au  <%=course.enddate%>)</p>
                        <hr>
                        <%if(user && user.role != "admin"){%>
                            <a href="/student/course/<%=course._id%>/register" id="enroll" class="btn button btn-block py-2">S'inscrire à ce cours</a>
                        <%}%>
                        <%if(!user){%>
                            <div class="alert alert-info">
                                Veuillez créer un compte pour pouvoir vous inscrire à ce cours.
                            </div>
                            <a href="" class="btn button-yellow w-100" data-toggle="modal" data-target="#log"><i class="fa fa-user"></i> Je me Connecte</a> 
                        <%}%>
                        
                        <!-- <div class="row py-3 justify-content-center" id="ala-une">
                            <h4 class="my-4">Coucours à la une</h4>
                            <div class="card " style="width: 85%;">
                                <img class="card-img-top" src="/img/univs/ucac.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Concours d'entrée en 1ère année Ing UCAC</h5>
                                    <a href="/course-details" class="btn btn-danger btn-block">See more details</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

<%- include('../_layout/footer') %>