<%- include('../_layout/dashboard-header') %>

    <section id="header" style="margin-left: 3em">
        <div class="container-fluid py-4">
            <div class="row pt-3 pb-2">
                <div class="col-md-12 text-center">
                    <h1 class="text-white mt-1">Mon Tableau de bord</h1>
                    <%if(user.image != "avatar.png"){%>
                        <img src="/img/student_images/<%=user._id%>/<%=user.image%>" class="img-rounded" alt="">
                    <%}else{%>
                        <img src="/img/avatar.png" class="img-rounded" alt="">
                    <%}%>
                    <p class="text-white pt-3"><b><%=user.email%></b></p>
                </div>
            </div>
        </div>
    </section>
    

    <section id="my-courses" class="py-5">
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-md-12">
                    <h1 class="py-3">MES COURS</h1>
                    <%if(user.accountActivated){%>
                        <%- messages('messages', locals) %>
                        <% if (errors){%>
                        <% errors.forEach(function(error){ %>
                            <div class="alert alert-danger">
                            <%=error.msg%>
                            </div>
                        <%});%>
                        <%}%>
                    <%}else{%>
                        <div class="alert alert-warning text-center">
                            Vous devez activer votre compte pour pouvoir vous inscrire à un cours. Pour ce faire, veuillez consulter votre boîte mail.
                        </div>
                    <%}%>
                    <%if(subscriber_courses != ""){%>
                        <%subscriber_courses.forEach(function(course){%>
                            <div class="card mt-3">
                                <h5 class="card-header" style="background-color: #1c262f;color: white"><%=course.course_title%></h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-10 col-sm-12">
                                            <p class="card-text"><%=course.course_description%></p>
                                            <!-- <p class="card-text">Cost: <strong><%=course.course_cost%> FCFA</strong></p> -->
                                            <div class="d-flex flex-lg-row flex-xl-row flex-xs-column flex-sm-column flex-md-column align-items-center">
                                                <div class="p-2">
                                                    <a class="btn button-yellow" href="/classroom">Accéder à la classe virtuelle</a>
                                                </div>
                                                <div class="p-2">
                                                    <a class="btn btn-dark" href="/student/course/group/<%=course.course_id%>">Ouvrir le groupe de discussion <i class="fa fa-comment-o"></i></a>
                                                </div>
                                                <% if (course.course_timetable){%>
                                                <div class="p-2">
                                                    <a class="btn btn-secondary" href="/timetables/<%=course.course_id%>/<%=course.course_timetable%>">Emploi de Temps <i class="fa fa-calendar"></i></a>
                                                </div>
                                                <%}%>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-none d-lg-block  text-center">
                                            <img src="/img/course_images/<%=course.course_id%>/<%=course.course_image%>" class="rounded-circle img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    <%}else{%>
                        <h4 class="text-center my-3 pt-3">Vous n'êtes enregistré à aucun cours pour le moment...</h4>
                        <center><a href="/prepa-courses" class="btn button-yellow my-2">Enregistrez vous à un cours maintenant</a></center>
                    <%}%>
                </div>
            </div>
        </div>
    </section>

    <%- include('../_layout/dashboard-footer')%>