<%- include('../_layout/dashboard-header') %>
<section class="discuss-layout">
    <section id="discuss-header" >
        <div class="container-fluid" >
            <div class="row py-2">
                <div class="col-md-12 text-center">
                    <h5 class="text-white mb-0">Groupe de <strong><%=group.groupname%></strong></h5>
                </div>
            </div>
        </div>
    </section>

    <div id="file-upload-loader">
        <div class="loader-wrapper">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <section id="courses-support-section">
        <div class="container-fluid">
            <div class="accordion" id="accordionExample">
                <div class="card" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0 text-center text-uppercase"><b>Supports de cours</b></h6>
                  </div>
              
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="row p-2 justify-content-center">
                        <%course.supports.forEach(function(support){%>
                            <div class="col-md-3 col-sm-12">
                                <div class="card p-0" style="border: solid 1px #ccc;padding: 1rem;">
                                    <div class="card-body text-dark p-3">
                                      <h5 class="card-title"><%=support.name%></h5>
                                      <a  href="/course_support/<%=course._id%>/<%=support.file%>" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    

    <!-- Notification de succès d'envoi d'un message -->
    <div id="gone" class="col">
        <div class="alert alert-success text-center">Message envoyé</div>
    </div>
    
    <!-- Message list and keyboard wrapper -->
    <!-- <div id='chat-view'> -->
        <!--Discussion-->
        <div id="discuss-body-section">
            <div class="container-fluid py-2" id="chat-bloc">
                <!--Messages Loop-->
                <%group.messages.forEach(function(message){%>
                    <%if(message.user_id == user.id){%>
                        <div class="container-fluid my-0 p-0">
                            <div class="row justify-content-end my-0">
                                <div class="col">
                                    <div class="flex-row d-flex flex-column flex-md-row justify-content-end">
                                        <div id="my-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">
                                            <h6 style="font-size: 13px"><strong>Moi</strong></h6>
                                            <span style="font-size: 13px"><%-message.content-%></span>
                                            <%if(message.file){%>
                                                <%if(message.fileType == "image/jpeg" || message.fileType == "image/gif" || message.fileType == "image/png" ){%>
                                                <a class="mt-2" target="_blank" href="/sharesdocs/<%=course._id%>/<%=message.file%>">
                                                    <img class="img-fluid uploaded-img" style="max-width:50rem" src="/sharesdocs/<%=course._id%>/<%=message.file%>" />
                                                </a>
                                                <%}else{%>
                                                    <div class="card text-white" style="border-radius: 5px">
                                                        <div class="card-body">
                                                            <h6 class="card-title" style="color: black">Document</h6>
                                                            <a  href="/sharesdocs/<%=course._id%>/<%=message.file%>" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                                                        </div>
                                                    </div>
                                                <%}%>
                                            <%}%>
                                        </div>
                                        <div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;"><%=message.date%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}else{%>
                        <div class="container-fluid my-0 p-0">
                            <div class="row justify-content-start my-0">
                                <div class="col">
                                    <div class="flex-row d-flex flex-column flex-md-row justify-content-start">
                                        <!--Student Messages in Teacher Interface-->
                                        <%students.forEach(function(student){%>
                                            <%if(student._id.equals(message.user_id)){%>
                                                <div class="p-2 imagewrapper">
                                                    <%if(student.image != "avatar.png"){%>
                                                        <img src="/img/student_images/<%student._id%>/<%student.image%>" class="img-rounded" style="height: 40px;width: 40px" class="rounded-circle" alt="">
                                                    <%}else{%>
                                                        <img src="/img/avatar.png" style="height: 40px;width: 40px" class="rounded-circle" alt="">
                                                    <%}%>
                                                </div>
                                                <div id="your-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">
                                                    <h6 style="font-size: 13px"><strong><%=student.username%></strong></h6>
                                                    <span style="font-size: 13px"><%-message.content-%></span>
                                                    <%if(message.file){%>
                                                        <%if(message.fileType == "image/jpeg" || message.fileType == "image/gif" || message.fileType == "image/png" ){%>
                                                        <a class="mt-2" target="_blank" href="/sharesdocs/<%=course._id%>/<%=message.file%>">
                                                            <img class="img-fluid uploaded-img" style="max-width:50rem" src="/sharesdocs/<%=course._id%>/<%=message.file%>" />
                                                        </a>
                                                        <%}else{%>
                                                            <div class="card text-white" style="border-radius: 5px">
                                                                <div class="card-body">
                                                                    <h6 class="card-title" style="color: black">Document</h6>
                                                                    <a  href="/sharesdocs/<%=course._id%>/<%=message.file%>" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                                                                </div>
                                                            </div>
                                                        <%}%>
                                                    <%}%>
                                                </div>
                                                <div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;"><%=message.date%></span>
                                                </div>
                                            <%}%>
                                        <%})%>
                                        <!--Teacher Messages in Student Interface-->
                                        <%teachers.forEach(function(teacher){%>
                                            <%if(teacher._id.equals(message.user_id)){%>
                                                <div class="p-2 imagewrapper">
                                                    <%if(teacher.image != "avatar.png"){%>
                                                        <img src="/img/student_images/<%teacher._id%>/<%teacher.image%>" class="img-rounded" style="height: 40px;width: 40px" class="rounded-circle" alt="">
                                                    <%}else{%>
                                                        <img src="/img/avatar.png" style="height: 40px;width: 40px" class="rounded-circle" alt="">
                                                    <%}%>
                                                </div>
                                                <div id="your-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">
                                                    <h6 style="font-size: 13px"><strong><%=teacher.username%></strong><span class="text-muted"> (Enseignant)</span></h6>
                                                    <span style="font-size: 13px"><%-message.content-%></span>
                                                    <%if(message.file){%>
                                                        <%if(message.fileType == "image/jpeg" || message.fileType == "image/gif" || message.fileType == "image/png" ){%>
                                                        <a class="mt-2" target="_blank" href="/sharesdocs/<%=course._id%>/<%=message.file%>">
                                                            <img class="img-fluid uploaded-img" style="max-width:50rem" src="/sharesdocs/<%=course._id%>/<%=message.file%>" />
                                                        </a>
                                                        <%}else{%>
                                                            <div class="card text-white" style="border-radius: 5px">
                                                                <div class="card-body">
                                                                    <h6 class="card-title" style="color: black">Document</h6>
                                                                    <a  href="/sharesdocs/<%=course._id%>/<%=message.file%>" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                                                                </div>
                                                            </div>
                                                        <%}%>
                                                    <%}%>
                                                </div>
                                                <div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;"><%=message.date%></span>
                                                </div>
                                            <%}%>
                                        <%})%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                <%})%>
            </div>
            <div id="bottom"></div>
        </div>
    
        <div id="keyboard">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <!--Clavier-->
                    <div class="col-sm-12">
                        <form id="discuss-form" method="post" action="#" enctype="multipart/form-data">
                            <div class="container-fluid p-0 m-0">
                                <div class="row align-items-center">
                                    <div class="col-sm-12">
                                        <div class="form-group clavier">
                                            <textarea name="content" id="content" class="form-control" placeholder="Ecrivez ici"></textarea>
                                            <i class="fa fa-send" id="send-message"></i>
    
                                            <div class="image-upload">
                                                <div class="upload-btn-wrapper">
                                                    <button class="bttn">Charger un fichier</button>
                                                    <input id="fileupload" type="file" name="myfile" accept="image/gif, image/jpeg, image/png, application/pdf, .doc,.docx,application/msword" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- </div> -->
</section>



<%- include('../_layout/dashboard-footer')%>

<script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    // Initialize the editor
    var editor;
    ClassicEditor
        .create( document.querySelector('#content'), {
            removePlugins: [ 'mediaEmbed'],
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'insertTable' ],
        })
        .then( newEditor => {
            editor = newEditor;
        } )
        .catch( error => {
            console.error( error );
        } );
    // Scroll to the bottom
    document.getElementById('bottom').scrollIntoView();
</script>


<!-- Send messages with web sockets -->
<script>
    var socket = io.connect('https://retymee.com', {query: 'pseudo=<%=user.username%>'});
    // var socket = io.connect('http://localhost:3000', {query: 'pseudo=<%=user.username%>'});
</script>

<!-- Upload support on chat -->
<script>
    document.getElementById("fileupload").onchange = function () {
        var data = new FormData();
        var fileType = "";
        $.each($('#fileupload')[0].files, function(i, file) {
            data.append('file', file);
            fileType = file.type;
        });
        data.append('userId', "<%=user._id%>");
        data.append('groupId', "<%=group._id%>");
        data.append('courseId', "<%=course._id%>");
        data.append('fileType', fileType);
        data.append('date', moment().format());
        
        $.ajax({
            type: 'POST',
            url: '/file/upload',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function(){
                // display loader
              $('#file-upload-loader').css('display', 'flex')
            },
            success: function(data){
                // Clear loader and display image
                $('#file-upload-loader').css('display', 'none')
                var fileContent = '';
                if(data.split(':')[1] == "image/jpeg" || data.split(':')[1] == "image/gif" || data.split(':')[1] == "image/png") {
                    content = `
                    <a class="mt-2" target="_blank" href="${data.split(':')[0]}">
                        <img class="img-fluid uploaded-img" style="max-width:50rem" src="${data.split(':')[0]}" />
                    </a>`;
                } else {
                    content = 
                    `<div class="card text-white" style="border-radius: 5px">
                        <div class="card-body">
                            <h6 class="card-title" style="color: black">Document</h6>
                                <a  href="${data.split(':')[0]}" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                        </div>
                    </div>`
                }
                $("#chat-bloc").append(
                    '<div class="container-fluid my-0 p-0">'
                        +'<div class="row justify-content-end my-0">'
                            +'<div class="col-md-10">'
                                +'<div class="flex-row d-flex flex-column flex-md-row justify-content-end">'
                                    +'<div id="my-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">'
                                        +'<h6 style="font-size: 13px"><strong>Moi</strong></h6>'
                                        +content+''
                                    +'</div>'
                                    +'<div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;">'+moment(moment().format()).fromNow()+'</span>'
                                    +' </div>'
                                +'</div>'
                            +'</div>'
                        +'</div>'
                    +'</div>'
                )
                document.getElementById('bottom').scrollIntoView({ behavior: 'smooth', block: 'end'});
                
                // Send socket to the server
                var group_id = "<%=group._id%>"
                var username = "<%=user.username%>"
                var user_id = "<%=user._id%>"
                var image = "<%=user.image%>"
                
                socket.emit("new upload",{
                    user_id: user_id,
                    username: username,
                    content: "",
                    group_id: group_id,
                    file: data.split(':')[0],
                    fileType: fileType,
                    date: moment().format()
                });
                
            },
            error: function(err){
                console.log(err);
                $('#file-upload-loader').css('display', 'none')
                alert('Une érreur s\'est produite. Veuillez reéssayer.')
            }
        });
    };
</script>

<script>

    $('#send-message').click(function(){
        handleSublit();
        return false;
    })

    // $('#content').keypress(function(event){
    //     var keycode = (event.keyCode ? event.keyCode : event.which);
    //     if(keycode == '13'){
    //         handleSublit();
    //     }
    // });

    function handleSublit() {
        var content = editor.getData().split('<p>&nbsp;</p>').join('');
        var file = $('#file').val()
        var group_id = "<%=group._id%>"
        var username = "<%=user.username%>"
        var user_id = "<%=user._id%>"
        var image = "<%=user.image%>"

        if(content === ""){
            alert('Saisir un message')
        }else{
            socket.emit("new message",{
                user_id: user_id,
                username: username,
                image: image,
                content: content,
                group_id: group_id,
                file: file,
                date: moment().format()
            });
            //J'afffiche directement le message sur la vue
            if(file == ""){
                cl = "none";
            }else{
                cl = "inline";
            }

            $("#chat-bloc").append(
                '<div class="container-fluid my-0 p-0">'
                    +'<div class="row justify-content-end my-0">'
                        +'<div class="col-md-10">'
                            +'<div class="flex-row d-flex flex-column flex-md-row justify-content-end">'
                                +'<div id="my-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">'
                                    +'<h6 style="font-size: 13px"><strong>Moi</strong></h6>'
                                    +'<span style="font-size: 13px">'+content+'</span>'
                                +'</div>'
                                +'<div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;">'+moment(moment().format()).fromNow()+'</span>'
                                +' </div>'
                            +'</div>'
                        +'</div>'
                    +'</div>'
                +'</div>'
            )
            editor.data.set("");
            document.getElementById('bottom').scrollIntoView();
        }
        return false
    }

    socket.on('addMessage', function(msg){
        var groupId = "<%=group._id%>";
        if(msg.group_id == groupId) {
            var image_src = "";var cl = "";
            if(msg.image == "avatar.png"){
                image_src = "/img/avatar.png";
            }else{
                image_src = "/img/student_images/"+msg.user_id+"/"+msg.image;
            }
    
            if(msg.file == ""){
                cl = "none";
            }else{
                cl = "inline";
            }
    
            $("#chat-bloc").append(
                '<div class="container-fluid my-0 p-0">'
                    +'<div class="row justify-content-start my-0">'
                        +'<div class="col">'
                            +'<div class="flex-row d-flex flex-column flex-md-row justify-content-start">'
                                +'<div class="p-2">'
                                    +'<img src="'+image_src+'" style="height: 70px;width: 70px" class="rounded-circle" alt="">'
                                +'</div>'
                                +'<div id="your-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">'
                                    +'<h6 style="font-size: 13px"><strong>'+msg.username+'</strong></h6>'
                                    +'<span style="font-size: 13px">'+msg.content+'</span>'
                                +'</div>'
                                +'<div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;">'+moment(msg.date, "YYYY-MM-DD").fromNow()+'</span>'
                                +'</div>'
                            +'</div>'
                        +'</div>'
                    +'</div>'
                +'</div>'
            );
            document.getElementById('bottom').scrollIntoView();
        }
    })

    // Display file upload on other sockets connection
    socket.on('addUpload', function(msg){
        var image_src = "";
        if(msg.image == "avatar.png"){
            image_src = "/img/avatar.png";
        }else{
            image_src = "/img/student_images/"+msg.user_id+"/"+msg.image;
        }
        var groupId = "<%=group._id%>";
        if(msg.group_id == groupId) {
            var fileContent = '';
                if(msg.fileType == "image/jpeg" || msg.fileType == "image/gif" || msg.fileType == "image/png") {
                    content = `
                    <a class="mt-2" target="_blank" href="${msg.file}">
                        <img class="img-fluid uploaded-img" style="max-width:50rem" src="${msg.file}" />
                    </a>`;
                } else {
                    content = 
                    `<div class="card text-white" style="border-radius: 5px">
                        <div class="card-body">
                            <h6 class="card-title" style="color: black">Document</h6>
                            <a href="${msg.file}" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                        </div>
                    </div>`
                }

            $("#chat-bloc").append(
                '<div class="container-fluid my-0 p-0">'
                    +'<div class="row justify-content-start my-0">'
                        +'<div class="col">'
                            +'<div class="flex-row d-flex flex-column flex-md-row justify-content-start">'
                                +'<div class="p-2">'
                                    +'<img src="'+image_src+'" style="height: 50px;width: 50px" class="rounded-circle" alt="">'
                                +'</div>'
                                +'<div id="your-msg" class="ml-3 pl-3 pr-3 py-2 my-1" style="color: #222222;">'
                                    +'<h6 style="font-size: 13px"><strong>'+msg.username+'</strong></h6>'
                                    +'<span style="font-size: 13px">'+msg.content+'</span>'
                                    +content+''
                                +'</div>'
                                +'<div class="p-0 p-md-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;">'+moment(msg.date, "YYYY-MM-DD").fromNow()+'</span>'
                                +'</div>'
                            +'</div>'
                        +'</div>'
                    +'</div>'
                +'</div>'
            );
            document.getElementById('bottom').scrollIntoView({ behavior: 'smooth', block: 'end'});
        }
    })

    socket.on('sending verification', function(msg){
        var groupId = "<%=group._id%>";
        if(msg.group_id == groupId) {
            $("#gone").fadeToggle("slow");
            setTimeout(function(){ $("#gone").fadeToggle("slow"); }, 2500);
        }
    })
</script>



