<%- include('../_layout/dashboard-header') %>
<section class="discuss-layout">
    <section  >
        <div class="container-fluid" >
            <div class="row py-3">
                <div class="col-md-12 text-center">
                    <h3 class="text-white">Groupe: <%=group.groupname%></h3>
                </div>
            </div>
        </div>
    </section>


    <section id="courses-support-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-white py-1">Supports de cours</h4>
                </div>
                <%course.supports.forEach(function(support){%>
                     <div class="col-md-3">
                        <div class="card text-white mb-3" style="border-radius: 5px">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black"><%=support.name%></h5>
                                <a  href="/course_support/<%=course._id%>/<%=support.file%>" class="btn btn-dark btn-sm">Télécharger <i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </section>
    
    <!--Discussion-->
    <section id="discuss-body-section">
        <div class="container-fluid py-2" id="chat-bloc">
            <!--Messages Loop-->

            <%group.messages.forEach(function(message){%>
                <%if(message.user_id == user.id){%>
                    <div class="container-fluid my-0">
                        <div class="row justify-content-end my-0">
                            <div class="col">
                                <div class="flex-row d-flex justify-content-end align-items-center">
                                    <div id="my-msg" class="ml-3 pl-4 pr-4 py-2 my-1" style="color: #222222;max-width:800px;">
                                        <h6 style="font-size: 13px"><strong>Moi</strong></h6>
                                        <span style="font-size: 13px"><%=message.content%></span>
                                        <%if(message.file != ""){%>
                                            <!-- <a class="mt-2" href="/student_supports/<%=group._id%>/<%=message.user_id%>/<%=message.file%>">Télécharger la pièce jointe</a> -->
                                        <%}%>
                                    </div>
                                    <div class="p-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;"><%=message.date%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}else{%>
                    <div class="container-fluid my-0">
                        <div class="row justify-content-start my-0">
                            <div class="col">
                                <div class="flex-row d-flex justify-content-start align-items-center">
                                    <!--Student Messages in Teacher Interface-->
                                    <%students.forEach(function(student){%>
                                        <%if(student._id.equals(message.user_id)){%>
                                            <div class="p-2 imagewrapper">
                                                <%if(student.image != "avatar.png"){%>
                                                    <img src="/img/student_images/<%student._id%>/<%student.image%>" class="img-rounded" style="height: 50px;width: 50px" class="rounded-circle" alt="">
                                                <%}else{%>
                                                    <img src="/img/avatar.png" style="height: 50px;width: 50px" class="rounded-circle" alt="">
                                                <%}%>
                                            </div>
                                            <div id="your-msg" class="ml-3 pl-4 pr-4 py-2 my-1" style="color: #222222;max-width:800px;">
                                                <h6 style="font-size: 13px"><strong><%=student.username%></strong></h6>
                                                <span style="font-size: 13px"><%=message.content%></span>
                                                <%if(message.file != ""){%>
                                                    <!-- <a href="/student_supports/<%=group._id%>/<%=message.user_id%>/<%=message.file%>">Download attachment</a> -->
                                                <%}%>
                                            </div>
                                            <div class="p-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;"><%=message.date%></span>
                                            </div>
                                        <%}%>
                                    <%})%>
                                    <!--Teacher Messages in Student Interface-->
                                    <%teachers.forEach(function(teacher){%>
                                        <%if(teacher._id.equals(message.user_id)){%>
                                            <div class="p-2 imagewrapper">
                                                <%if(teacher.image != "avatar.png"){%>
                                                    <img src="/img/student_images/<%teacher._id%>/<%teacher.image%>" class="img-rounded" style="height: 50px;width: 50px" class="rounded-circle" alt="">
                                                <%}else{%>
                                                    <img src="/img/avatar.png" style="height: 50px;width: 50px" class="rounded-circle" alt="">
                                                <%}%>
                                            </div>
                                            <div id="your-msg" class="ml-3 pl-4 pr-4 py-2 my-1" style="color: #222222;max-width:800px;">
                                                <h6 style="font-size: 13px"><strong><%=teacher.username%></strong><span class="text-muted"> (Teacher)</span></h6>
                                                <span style="font-size: 13px"><%=message.content%></span>
                                                <%if(message.file != ""){%>
                                                    <!-- <a href="/student_supports/<%=group._id%>/<%=message.user_id%>/<%=message.file%>">Download attachment</a> -->
                                                <%}%>
                                            </div>
                                            <div class="p-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;"><%=message.date%></span>
                                            </div>
                                        <%}%>
                                    <%})%>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}%>
            <%})%>
        </div>
    </section>

    <section id="keyboard">
        <div class="container">
            <div class="row justify-content-center">
                <!--Clavier-->
                <div class="col-md-10">
                    <div class="flex-row d-flex justify-content-center">
                        <div class="p-2">
                            <div id="gone" class="col" style="width:200px;height: 80px;transition: 0.5s;position: fixed;top: 0;margin-right: auto;margin-left: auto;display: none;">
                                <div class="alert alert-success text-center" style="border-radius:0">C'est Parti</div>
                            </div>
                        </div>
                    </div>
                    <form id="discuss-form" method="post" action="#" enctype="multipart/form-data">
                        <div class="container-fluid p-0 m-0">
                            <div class="row align-items-center clavier">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <textarea name="editor1" id="content" class="form-control" placeholder="Ecrivez ici"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-1" id="spin-space">
                                    <div class="form-group">
                                        <button type="submit" id="send-message" class="btn rounded-circle py-2 pl-3 pr-3 " style="background-color: rgb(230, 69, 69);color: white"><i class="fa fa-send"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <!-- <div class="col-md-6 justify-content-center">
                                <div class="form-group bg-faded">
                                    <input type="file" name="file" class="form-control-file" id="file">
                                    <small id="fileHelp" class="form-text text-muted">
                                        Upload a file (Max Size 3MB)
                                    </small>
                                </div>
                            </div> -->
                            <input type="hidden" value="<%=group._id%>" id="group-id" name="group_id">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

<%- include('../_layout/dashboard-footer')%>

<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect('http://localhost:3000/', {query: 'pseudo=<%=user.username%>'});

    $('#discuss-form').submit(function(){
        var content = $('#content').val()
        content = content.trim()
        var file = $('#file').val()
        var group_id = $('#group-id').val()

        if(content == ""){
            alert('Enter a Message')
        }else{
            //alert('')
        }

        return false
    })

    $('#content').keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            var content = $('#content').val().trim()
            var file = $('#file').val()
            var group_id = $('#group-id').val()
            var username = "<%=user.username%>"
            var user_id = "<%=user._id%>"
            var image = "<%=user.image%>"

            if(content == ""){
                alert('Saisir un message')
            }else{
                socket.emit("Nouveau message",{
                    user_id: user_id,
                    username: username,
                    image: image,
                    content: content,
                    group_id: group_id,
                    file: file,
                    date: new Date()
                });
                //J'afffiche directement le message sur la vue
                if(file == ""){
                    cl = "none";
                }else{
                    cl = "inline";
                }

                $("#chat-bloc").append(
                    '<div class="container-fluid my-0">'
                        +'<div class="row justify-content-end my-0">'
                            +'<div class="col-md-10">'
                                +'<div class="flex-row d-flex justify-content-end align-items-center">'
                                    +'<div id="my-msg" class="ml-3 pl-4 pr-4 py-2 my-1" style="color: #222222;max-width:800px;">'
                                        +'<h6 style="font-size: 13px"><strong>Me</strong></h6>'
                                        +'<span style="font-size: 13px">'+content+'</span>'
                                    +'</div>'
                                    +'<div class="p-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;">'+moment(new Date()).fromNow()+'</span>'
                                   +' </div>'
                                +'</div>'
                            +'</div>'
                        +'</div>'
                    +'</div>'
                )
                $("#content").val('');
            }


            return false
        }
    });

    socket.on('addMessage', function(msg){
        var image_src = "";var cl = "";
        if(msg.image == "avatar.png"){
            image_src = "/img/avatar.png";
        }else{
            image_src = "/img/student_images/"+msg.user_id+"/"+msg.image;
        }

        if(msg.file == ""){
            cl = "none";
        }else{
            cl = "inline";
        }

        $("#chat-bloc").append(
            '<div class="container-fluid my-0">'
                +'<div class="row justify-content-start my-0">'
                    +'<div class="col">'
                        +'<div class="flex-row d-flex justify-content-start align-items-center">'
                            +'<div class="p-2">'
                                +'<img src="'+image_src+'" style="height: 70px;width: 70px" class="rounded-circle" alt="">'
                            +'</div>'
                            +'<div id="your-msg" class="ml-3 pl-4 pr-4 py-2 my-1" style="color: #222222;max-width:800px;">'
                                +'<h6 style="font-size: 13px"><strong>'+msg.username+'</strong></h6>'
                                +'<span style="font-size: 13px">'+msg.content+'</span>'
                            +'</div>'
                            +'<div class="p-2 align-self-start py-0"><span class="py-0 text-white" style="font-size: 11px;">'+moment(msg.date).fromNow()+'</span>'
                            +'</div>'
                        +'</div>'
                    +'</div>'
                +'</div>'
            +'</div>'
        )
    })

    socket.on('sending verification', function(msg){
        $("#gone").fadeToggle("slow");
        setTimeout(function(){ $("#gone").fadeToggle("slow"); }, 2500);
    })
</script>



